body
  padding-top 70px
// purple = rgb(135, 85, 186)
// dark-purple = rgb(124, 76, 167)
// gray = rgb(241, 241, 241)
//
// body
//   font-family "Source Sans Pro", sans-serif
//
// .navbar-wt
//   background dark-purple
//   font-family Babel
//   margin 0
//
//   a
//     color white
//
// .jumbotron
//   background purple
//   color white
//
//   h1
//     font-size 1.7em
//     font-weight 600
//     margin 0 0 40px
//
// form
//   .btn-default-focus
//     background transparent
//
//   .form-control
//     background-color transparent
//     border-color white !important
//     border-width 0 0 1px
//     border-radius 0
//     box-shadow none
//     color white
//     font-size 2.5em
//     height 55px
//     padding 6px
//
//     &:hover, &:active, &:focus, &:active:focus
//       background transparent
//
//     &:focus
//       border-color inherit
//       box-shadow none
//
//     &.ui-select-toggle, &.ui-select-search
//       border-width 1px
//       color white
//       font-size 1.6em
//       height 45px
